/*
  Quebra de linha a partir de 3 elementos (Gabriel_SA)
*/

* {padding: 0;margin: 0;}

body{
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2Fde%2Ff4%2F73%2Fdef473f3b4380d977d23ac2502cb1d77.jpg&f=1&nofb=1");
  background-size: 100%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.App {
  width: 100%;
  height: 100vh;
  background-color: #282c34be; 
  color: white;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
}
/* --- Header --- */
nav {
  width: 100vw;
  background: rgba(0,0,0,.6);  
}
nav ul { 
  list-style: none;
  padding: 1rem 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;}
nav li { 
  padding: 0.5rem;
}
nav li a { 
  
  text-decoration: none;
  text-shadow: 3px 2px 3px black;
  color: white;
}

/* --- Article --- */
article {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-start;
}
input[type="text"] {
  width: 80vw;
  padding: 1rem 0.5rem;
  margin: 2rem;
  border-radius: 1rem;
  border: none;
}
article div {
  width: 80vw;
  /* justify-items: flex-start; */
}
div.card {
  width: 12vw;
  box-shadow: 3px 3px 25px 0px white;
  border-radius: 1rem;

  
}
div.card img {
  width: 10vw;
}

