* {
  padding: 0;margin: 0;
  overflow-x: hidden;

}
body{
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2Fde%2Ff4%2F73%2Fdef473f3b4380d977d23ac2502cb1d77.jpg&f=1&nofb=1");
  background-size: 100%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.App {
  width: 100vw;
  min-height: 100vh;
  background-color: #282c34be; 
  color: white;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
}

/* --- Header --- */
svg {margin-top: 2rem;}

/* --- Search --- */
input[type="text"] {
  width: 76vw;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 3px solid transparent;
  background: #282c34be;
  color: #fff;
  outline: 0;
  transition: ease-in 300ms;
}
input[type="text"]:focus{
  border: 3px solid #999;
}

/* --- Article --- */
article {
  min-height: 60vh;
  margin-top: 2rem;

  display: grid;
   grid-column-gap: 1rem;
   grid-row-gap: 1rem;
}
@media only screen and (min-width: 300px) {
  article {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (min-width: 510px) {
  article {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 780px) {
  article {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1000px) {
  article {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (min-width: 1300px) {
  article {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* Loading ... */
.loading {
  width: 15vw;
  height: 15vw;
  border-radius: 20vw;
  border: solid 1rem #da0e0e;
  border-left: solid 1rem #8f0404;

  animation: spin 800ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

/* Results Search */
div.card {
  background: #292b2ec2;
  padding: 1rem;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-items: space-between;
  align-items: center;
  transition: 200ms ease-in ;
}
div.card:hover {
  background: #da0e0ea1;
  cursor: pointer;
}
div.card p {
  width: 100%;
  margin-top: 1rem;
  text-align: center;
}